body {
    background-color: lightblue;
}

.title {
    font-family: 'Konkhmer Sleokchher', cursive;
    justify-content: center;
    display: flex;
    background-color: white;
}

.div1-cuerpo {
    justify-content: center;
    width: 512px;
    height: 460px;
    border: 2px solid white;
    position: relative;
    left: 630px;
    align-items: center;
    background-color: white;
    border: 3px solid white;
    margin-top: 30px;
}

#flex {
    background-color: white;
}
.title-first-photo {
    font-family: 'Konkhmer Sleokchher', cursive;
    float: left;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 6px;
    margin-left: 5px;
}

.number-first-photo{
    color: rgba(128, 128, 128, 0.514);
    float: right;
    margin-top: 6px;
    margin-right: 5px;
}

.img1 {
    width: 512px;
    height: 341px;
    margin-top: 4px;
}

.div4-text {
    margin-left: 10px;
}